body {
    margin: 0px;
    background-color: #f7f7f7;
}

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #973c35;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

input {
    border: none;
}

textarea {
    outline: none;
    border: none;
}

input:focus {
    outline: none !important;
}

input:focus::-webkit-input-placeholder { 
    color:transparent; 
}

input:focus:-moz-placeholder {
    color:transparent;
}

input:focus::-moz-placeholder {
    color:transparent;
}

input:focus:-ms-input-placeholder {
    color:transparent;
}

textarea:focus::-webkit-input-placeholder {
    color:transparent;
}

textarea:focus:-moz-placeholder {
    color:transparent; 
}

textarea:focus::-moz-placeholder {
    color:transparent;
}

textarea:focus:-ms-input-placeholder {
    color:transparent;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

label {
    display: block;
    margin: 0;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.txt1 {
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
}

.txt2 {
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
}

.size1 {
    width: 355px;
    max-width: 100%;
}

.size2 {
    width: calc(100% - 43px);
}

.bg1 {
    background: #3b5998;
}

.bg2 {
    background: #1da1f2;
}

.bg3 {
    background: #cd201f;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-dkpm-login {
    width: 100%;  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.wrap-dkpm-login {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

.dkpm-login-more {
    width: calc(100% - 900px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.dkpm-login-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}

.dkpm-login-form {
    width: 500px;
    display: block;
    background-color: #f7f7f7;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.dkpm-login-form-title {
    width: 100%;
    display: block;
    font-family: Poppins-Regular;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

/*@media (max-width: 992px) {
  .dkpm-login-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .dkpm-login-more {
    width: 50%;
  }

  .min-screen {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 500px) {
  .dkpm-login-form {
    width: 100%;
  }

  .dkpm-login-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .dkpm-login-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 100;
    max-width: 70%;
    background-color: #fff;
    border: 2px solid #6b2823;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    color: #6b2823;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "!";
    display: block;
    position: absolute;
    z-index: 110;
    color: #6b2823;
    font-size: 18px;
    font-weight: bold;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.dkpm-login-form-social-item {
    width: 36px;
    height: 36px;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
}

.dkpm-login-form-social-item:hover {
    background: #333333;
    color: #fff;
}

.vl {
    margin-left: 10px;
    height: 50px;
    border-left: 2px solid #c7c7c7;
}

.transition-fade {
    opacity: 1;
    transition: 0.7s;
    transform: translateX();
    transform-origin: right;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(-620px);
}

html.is-leaveing .transition-fade {
    opacity: 1;
    transform: translateX(-620px);
}

#read-password-btn {
    font-size: 20px;
    color: #973c35;
    position: absolute;
    left: 350px;
    top: -55px;
    text-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

#forgot_password {
    font-size: 17px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    width: fit-content;
}

#sign_up_now {
    font-size: 17px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation: blinker 1.5s linear infinite;
    color: #973c35;
    font-weight: bold;
    margin-top: 20px;
}

@keyframes blinker {
    25% {
        opacity: .25;
    }
}

.alert {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#dkpm-login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background: #973c35;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
}

#dkpm-login-form-btn:hover {
    background: #6b2823;
}